/* to make it move */
@keyframes moveRightLeft {
    0% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(10px);
    }
}
/* My profil */
.pdp{
    border-radius: 80px 80px 30px 20px;
    /* background-repeat: no-repeat;
    background-size: 250px 250px; */
    box-shadow: 1px 2px 3px 2px;
    /* margin-left: 557px;
    position: relative; */
    animation: moveRightLeft 2s infinite alternate ease-in-out;
}
/* Name and Profession */
.nom{
    background-color:#272727;
    border: 1px solid #ccc;
    padding: 10px 28px;
    width: 100%;
    /* height: 20px; */
    border-radius: 30px 10px 30px 10px;
    /* text-align: center; */
    box-shadow: 2px 2px 5px 3px;
    /* margin-left: 400px;
    margin-top: 20px; */
}
/* Andrianantenaina Heritiana */
.nom h2{
    /* position: relative;
    top: -40px; */
    margin: 0;
    color: white;
    text-align: center;
}
/* Developpeur Web */
.nom h3{
    /* position: relative;
    top: -55px; */
    margin: 0;
    color:#a4a49c;
    text-align: center;
}
/* the links b(img and p) */
a{ 
    /* border-radius: 150px; */
    /* margin-left: 5px; */
    /* padding: 5px; */
    /* text-align: center; */
    /* box-shadow: 1px 2px 2px 2px; */
    text-decoration: none;
    color: white;
    /* width: 20px; */
    /* height: 17px;   */
} 
/* to change the color of links if clicked */
a:hover{
    color: yellow;
}
/* body{
    background-image: url(./soleil.jpg);
    background-repeat: no-repeat;
    background-size: 1370px 800px;
} */
body {
    background-image: url(./soleil.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .elt{
    display: flex;
    gap: 20px;
    width: 100%;
    /* padding: 20px; */
    align-items: center;
    /* margin-top: 5px;
    margin-left: 75px; */
    
}
.mail{
    display: flex;
    gap: 20px;
    /* margin-top: -5px;
    margin-left: 75px; */
}
.github{
    display: flex;
    gap: 20px;
    /* margin-top: -5px;
    margin-left: 75px; */
}
.linkedin{
    display: flex;
    gap: 20px;
    /* margin-top: -5px;
    margin-left: 75px; */
}
.telephone1{
    border-radius: 15px;
    background-color: #a4a49c;
    /* height: 30px;
    margin-left: -5px; */
}
.mail1{
    border-radius: 15px;
    background-color: #a4a49c;
    /* height: 30px;
    margin-left: -5px; */
}
.github1{
    border-radius: 15px;
    background-color: #a4a49c;
    /* height: 30px;
    margin-left: 70px;
    margin-left: -5px; */
}
.linkedin1{
    border-radius: 15px;
    background-color: #a4a49c;
    /* height: 30px;
    margin-left: 70px;
    margin-left: -5px; */
}
.contact{
    box-shadow: 10px 10px 10px 2px;
    border: 1px solid;
    width: 100%;
    /* height: 187px; */
    border-radius: 20px 70px 20px 70px;
    /* margin-left: 100px; */
    background-color:#272727;
    /* margin-left: 450px;
    margin-top: 10px; */
    color: rgb(148, 140, 140);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
/* #visuel{
    position: absolute;
    border: 1px solid white;
    border-radius: 70px 20px 70px 20px;
    position: absolute;
    left: 350px;
    top: 30px;
    width:600px;
    height: 600px;
    border-color: #a4a49c;
    background-image: url(./plage.jfif);
    background-repeat: no-repeat;
    background-size: 600px;
} */
#visuel {
    border: 1px solid white;
    border-radius: 70px 20px 70px 20px;
    /* width: 600px;
    height: 600px; */
    border-color: #a4a49c;
    background-image: url(./plage.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px;
}
.container{
    /* position: relative;
    top: 20px;
    right: 385px; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

/* @media (max-width: 470px) {
    #visuel {
        border-radius: 0px;
        height: 100vh;
        width: 100%;
    }
    
} */
@media (max-width: 767px) {
        #visuel {
        width: auto;
        border-radius: 0;
        padding: 95px;
        position: fixed;
    }
    body{
        width: 100%;
    }


    .container {
        gap: 16px;
    }

    .pdp {
        width: 150px;
    }

    .nom {
        width: 300px;
        text-align: center;
        padding: 10px;
        align-items: center;
        
    }
    .contact {
        width: auto;
        padding: 16px;
        text-align: center;
    }

    .contact .elt {
        flex-direction: column;
        gap: 10px;
    }

    .contact img {
        height: 24px;
    }
}
